body {background-color: #0b0b45;
color: rgb (11, 11, 69);

margin: 5%;
padding: 1%;
border: 2px solid #876b17;
}


img{ 
  border: 20 px solid;
  img-align: center;
  width: 50%;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-style: solid;
}
}
