body {background-color: #0b0b45;
color: white;
  p { text-align: center;
  font-family: 'Prata', serif;
  margin: 3%;
  font-size: 30px;
}
color: rgb (11, 11, 69);

margin: 5%;
padding: 1%;
border: 2px solid #876b17;
}

<p align="center">
  <img width="560" height="315"      
      <img src="001.jpg"> 
      <img src="002.jpg"> 
      <img src="003.jpg"> 
      <img src="004.jpg"> 
      <img src="005.jpg"> 
      <img src="006.jpg"> 
      <img src="007.jpg">
      <img src="008.jpg"> 
      <img src="009.jpg"> 
      <img src="010.jpg"> 
</p>


/* img.resize {
    width:540px; 
    height: auto;
} */

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.justify-content-center{
  justify-content:center;
  
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-style: solid;
}
}
