body {background-color: #BBA14F;
color: rgb (187, 161, 79);

margin: 5%;
padding: 1%;
border: 2px solid #7D52B4;
}


img{ 
  border: 20 px solid;
  border-style: groove;
  width: 50%;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-style: solid;
}

a {
  text-decoration: overline;
  color: #0000FF;
}
